/* Change the background color of the page */
body {
    background-color: #f2f2f2;
    font-family: 'Inconsolata', monospace;
}

/* Style the title */
h1 {
    text-align: center;
    color: #333;
    font-size: 36px;
    margin: 50px 0;
}

/* Style the list of chapters */
ul {
    /*list-style: none;*/
    column-count: 3;
    column-gap: 2em;
    margin: 50px auto;
    max-width: 1300px;
    padding: 0;
    text-align: left;
}

li {
    margin-bottom: 1em;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Add a hover effect to the list items */
li:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

/* Add a selected class to the clicked item */
li.selected {
    background-color: #e0e0e0;
}